In [1]:
1+2

3

In [2]:
a = 5
print(a)

5

In [3]:
print (a)

5

In [4]:
4/2

2.0

In [5]:
4%2

0

In [6]:
4/3

1.3333333333333333

In [7]:
(4*2) + (5/2)

10.5

In [9]:
a=(4*2) + (5/2)
type(a)

float

In [10]:
a ="nome de pessoa"
type(a)

str

In [15]:
var="janine"
idade="20"
'meu nome é {}'.format(var)
'meu nome é {} e idade é {}'.format(var,idade)

'meu nome é janine e idade é 20'

In [30]:
lista = [1.0,"hello",2,[1,2,3]]
type(lista[1])

str

In [45]:
a[4:6]

' d'

In [51]:
var = 'Meu nome é Janine'
var[:1]

'M'

In [54]:
Lista = [1.0,'hello',3.2,[3,2,1]]
lista[1]='oi'
lista

[1.0, 'oi', 2, [1, 2, 3]]

In [57]:
t=[1.0,'hello',3.2,[3,2,1]]

In [58]:
t

[1.0, 'hello', 3.2, [3, 2, 1]]

In [59]:
t[0]=5555

In [60]:
t

[5555, 'hello', 3.2, [3, 2, 1]]

In [61]:
t=(5555, 'hello', 3.2, [3, 2, 1])

In [62]:
t[2]

3.2

In [63]:
t[0]=1

TypeError: 'tuple' object does not support item assignment

In [64]:
x=1
y=2
x==2

False

In [65]:
if x == 2:
    x=5
    print(x)
else:
    print(x)

1