# Data Collect
### This notebook collect data from FC API

In [70]:
import pandas as pd
import fastparquet
from datetime import datetime
from ipynb.fs.full.lib_forex_fc_api_helper import *

In [71]:
# Reading pre existing data file
data = pd.read_parquet('../data/raw/dataFromFcApi.parquet')
print(data.shape[0], ' elements')
data.head(5)

44936  elements

             o        h        l       c v           t                   tm
index
0       1.1778   1.1779   1.1778  1.1779    1596816060  2020-08-07 16:01:00
1      1.17795  1.17795   1.1778  1.1779    1596816120  2020-08-07 16:02:00
2        1.178    1.178   1.1779  1.1779    1596816180  2020-08-07 16:03:00
3      1.17795   1.1781  1.17795  1.1781    1596816240  2020-08-07 16:04:00
4      1.17805   1.1781   1.1778  1.1779    1596816300  2020-08-07 16:05:00

In [72]:
# Recovering date time from first and last event:
firstEvent = data['tm'].min()
lastEvent = data['tm'].max()
print('We have data from ', firstEvent, ' to ', lastEvent)

We have data from  2020-08-02 18:59:00  to  2020-09-08 18:27:00

In [73]:
# Recovering data from last update until now:
print('Recovering data from ' + lastEvent + ' until now.')
#newData = getDataFromInterval("EUR/USD", "1m", "01-08-2020 00:00", "05-08-2020 00:00")
newData = getDataFromInterval("EUR/USD", "1m", lastEvent, None)
newData

Recovering data from 2020-09-08 18:27:00 until now.
Starting query from 08/09/2020 18:27 to 08/09/2020 18:59
https://fcsapi.com/api-v2/forex/history?from=2020-09-08T18:27&to=2020-09-08T18:59&symbol=EUR/USD&datatype=json&period=1m&access_key=zxyaA5VYrHr2iiujZ1cjuAnR5wwRAoFfXm6fTTpCL8keUg5W
Response=Successfully
Process finish

          o        h        l        c v           t                   tm
0    1.1786  1.17875   1.1785  1.17875    1599589620  2020-09-08 18:27:00
1    1.1786  1.17885   1.1786   1.1787    1599589680  2020-09-08 18:28:00
2   1.17865  1.17865  1.17855   1.1786    1599589740  2020-09-08 18:29:00
3    1.1786  1.17865  1.17835  1.17845    1599589800  2020-09-08 18:30:00
4   1.17855  1.17855  1.17845  1.17845    1599589860  2020-09-08 18:31:00
5   1.17845  1.17855  1.17845   1.1785    1599589920  2020-09-08 18:32:00
6    1.1785   1.1785  1.17825  1.17825    1599589980  2020-09-08 18:33:00
7   1.17845  1.17855  1.17845  1.17855    1599590040  2020-09-08 18:34:00
8   1.17845  1.17855  1.17845  1.17855    1599590100  2020-09-08 18:35:00
9    1.1784  1.17855   1.1784   1.1785    1599590160  2020-09-08 18:36:00
10  1.17835  1.17835   1.1782  1.17825    1599590220  2020-09-08 18:37:00
11  1.17825  1.17835  1.17825   1.1783    1599590280  2020-09-08 18:38:00
12  1.17825  1.17825   1.1781   1.1781    1599590340  2020-09-08 18:39:00
13   1.1782   1.1783  1.17805   1.1783    1599590400  2020-09-08 18:40:00
14  1.17825  1.17835  1.17805  1.17835    1599590460  2020-09-08 18:41:00
15  1.17815  1.17815  1.17805  1.17805    1599590520  2020-09-08 18:42:00
16  1.17815   1.1783   1.1781   1.1783    1599590580  2020-09-08 18:43:00
17  1.17825   1.1783  1.17795  1.17795    1599590640  2020-09-08 18:44:00
18    1.178   1.1782    1.178   1.1782    1599590700  2020-09-08 18:45:00
19  1.17825  1.17825  1.17805   1.1781    1599590760  2020-09-08 18:46:00
20   1.1781  1.17825  1.17785   1.1779    1599590820  2020-09-08 18:47:00
21   1.1779  1.17815  1.17785   1.1781    1599590880  2020-09-08 18:48:00
22  1.17805  1.17815  1.17805  1.17815    1599590940  2020-09-08 18:49:00
23   1.1781  1.17825    1.178  1.17815    1599591000  2020-09-08 18:50:00
24   1.1781  1.17815  1.17795    1.178    1599591060  2020-09-08 18:51:00
25  1.17815  1.17815    1.178    1.178    1599591120  2020-09-08 18:52:00
26    1.178    1.178   1.1778   1.1779    1599591180  2020-09-08 18:53:00
27  1.17795  1.17795   1.1778  1.17785    1599591240  2020-09-08 18:54:00
28  1.17775  1.17795  1.17775  1.17795    1599591300  2020-09-08 18:55:00
29  1.17795   1.1782   1.1779   1.1782    1599591360  2020-09-08 18:56:00
30   1.1779  1.17805  1.17785    1.178    1599591420  2020-09-08 18:57:00
31  1.17795   1.1782  1.17795  1.17815    1599591480  2020-09-08 18:58:00

In [74]:
# Appending new data:
data = data.append(newData)
print(data.shape[0])
data.head(5)

44968

         o        h        l       c v           t                   tm
0   1.1778   1.1779   1.1778  1.1779    1596816060  2020-08-07 16:01:00
1  1.17795  1.17795   1.1778  1.1779    1596816120  2020-08-07 16:02:00
2    1.178    1.178   1.1779  1.1779    1596816180  2020-08-07 16:03:00
3  1.17795   1.1781  1.17795  1.1781    1596816240  2020-08-07 16:04:00
4  1.17805   1.1781   1.1778  1.1779    1596816300  2020-08-07 16:05:00

In [75]:
# Saving new collection:
data.to_parquet('../data/raw/dataFromFcApi.parquet', compression='GZIP')