In [4]:
import pandas
import numpy as np

pandas.set_option("display.precision", 2)

input_table = '../../Data/Processed/retail/bigtable_data.parquet'

# Load Data

In [5]:
data = pandas.read_parquet(input_table)
print('data shape:', data.shape)
print('data columns:', data.columns.tolist())
data.head()

data shape: (59000, 16)
data columns: ['Store', 'Dept', 'Date', 'Weekly_Sales', 'IsHoliday', 'Type', 'Size', 'Temperature', 'Fuel_Price', 'MarkDown1', 'MarkDown2', 'MarkDown3', 'MarkDown4', 'MarkDown5', 'CPI', 'Unemployment']

,Store,Dept,Date,Weekly_Sales,IsHoliday,Type,Size,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment
0,1,1,2010-02-05,24924.50,False,A,151315.0,42.31,2.57,0.0,0.0,0.0,0.0,0.0,211.1,8.11
1,1,2,2010-02-05,50605.27,False,A,151315.0,42.31,2.57,0.0,0.0,0.0,0.0,0.0,211.1,8.11
2,1,3,2010-02-05,13740.12,False,A,151315.0,42.31,2.57,0.0,0.0,0.0,0.0,0.0,211.1,8.11
3,1,4,2010-02-05,39954.04,False,A,151315.0,42.31,2.57,0.0,0.0,0.0,0.0,0.0,211.1,8.11
4,1,5,2010-02-05,32229.38,False,A,151315.0,42.31,2.57,0.0,0.0,0.0,0.0,0.0,211.1,8.11

# Data Description

In [6]:
data.describe()

,Weekly_Sales,Size,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment
count,59000.00,59000.00,59000.00,59000.00,59000.00,59000.00,59000.00,59000.00,59000.00,59000.00,59000.00
mean,19053.35,143311.99,68.02,3.22,2602.50,972.90,496.37,1187.81,1700.43,201.62,6.89
std,27478.29,73582.96,14.82,0.42,5739.07,6061.88,5568.80,3813.97,3476.35,33.75,0.98
min,-1098.00,34875.00,28.84,2.51,0.00,-10.98,0.00,0.00,0.00,126.06,3.88
25%,2527.05,37392.00,56.99,2.76,0.00,0.00,0.00,0.00,0.00,211.26,6.49
50%,8138.18,202307.00,69.68,3.29,0.00,0.00,0.00,0.00,0.00,214.93,6.97
75%,23510.00,202505.00,81.02,3.59,3213.00,9.48,5.59,577.14,2556.36,220.30,7.68
max,385051.04,205863.00,93.34,3.91,75149.79,92523.94,83340.33,48159.86,36430.33,226.99,8.62