In [1]:
import pandas


source_file = '../../Data/Raw/movie-review/movie-pang02.csv'
save_file = '../../Data/Processed/movies.parquet'

# Leitura dos Dados

In [2]:
data = pandas.read_csv(source_file, sep=',')

print('shape:', data.shape)
print('columns:', data.columns)
data.head()

shape: (2000, 2)
columns: Index(['class', 'text'], dtype='object')

  class                                               text
0   Pos   films adapted from comic books have had plent...
1   Pos   every now and then a movie comes along from a...
2   Pos   you ve got mail works alot better than it des...
3   Pos      jaws   is a rare film that grabs your atte...
4   Pos   moviemaking is a lot like being the general m...

# Estatistica dos dados

In [3]:
data.describe()

       class                                               text
count   2000                                               2000
unique     2                                               2000
top      Pos   screen story by kevin yagher and andrew kevin...
freq    1000                                                  1

# Verificar Valores Nulos

In [4]:
data.isnull().sum()

class    0
text     0
dtype: int64

# Variável Alvo

In [6]:
data.groupby('class').count()

       text
class
Neg    1000
Pos    1000

# Variáveis Preditoras

In [12]:
data.text.str.len().describe()

count     2000.000000
mean      3894.002000
std       1712.425852
min         92.000000
25%       2738.750000
50%       3623.500000
75%       4721.250000
max      14958.000000
Name: text, dtype: float64

# Exportar Base de Dados

In [5]:
data.to_parquet(save_file)