In [3]:
%run ./../DataPrep/Load_Data.ipynb
from sklearn import preprocessing

NameError: name 'df' is not defined

In [ ]:
df_total.drop(columns = ['JobLevel'],inplace = True)

In [2]:
classifier_variables = ['Age', 'DailyRate', 'DistanceFromHome', 'Education',
       'EnvironmentSatisfaction', 'HourlyRate', 'JobInvolvement',
       'JobSatisfaction', 'MonthlyRate','OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StockOptionLevel','TrainingTimesLastYear', 'WorkLifeBalance', 'YearsAtCompany',
       'YearsInCurrentRole', 'YearsWithCurrManager']

norm_col = ['MonthlyIncome','YearsSinceLastPromotion','TotalWorkingYears','NumCompaniesWorked']

binary_var = ['NonTravel','TravelRarely', 'TravelFrequently', 'D_R&D', 'D_Sales',
           'D_RH', 'E_LifeSciences','E_Medical','E_Marketing','E_TechnicalDegree',
              'E_RH','E_Other','Male','Female','Single','Married','Divorced']


df_norm = df_total.copy()

In [5]:
for cname in norm_col:
    
    df_norm[cname] = np.log(df_norm[cname]+1)

In [6]:
df_norm[classifier_variables] = preprocessing.power_transform(df_norm[classifier_variables], method='yeo-johnson')

In [7]:
df_norm

,Attrition,Age,DailyRate,DistanceFromHome,Education,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobSatisfaction,MonthlyIncome,...,E_Medical,E_Marketing,E_TechnicalDegree,E_RH,E_Other,Male,Female,Single,Married,Divorced
0,1,-2.58732,-1.431734,-0.704339,0.009405,0.131368,-0.585178,0.304422,0.116122,2.111318,...,0,0,0,0,0,1,0,1,0,0
1,0,-2.58732,0.030811,0.473069,0.009405,1.264629,0.146208,-1.053114,0.116122,2.090741,...,1,0,0,0,0,0,1,1,0,0
2,1,-2.58732,1.240380,-0.238794,0.009405,-0.748720,0.146208,0.304422,-0.753400,2.144585,...,0,1,0,0,0,1,0,1,0,0
3,0,-2.58732,-1.274730,-0.238794,-0.920702,-0.748720,0.343738,0.304422,1.247765,2.074234,...,0,0,0,0,0,1,0,1,0,0
4,1,-2.58732,-1.384184,0.235213,-1.714680,0.131368,0.691013,0.304422,0.116122,2.146193,...,1,0,0,0,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,0,2.15794,-0.923250,0.096576,0.009405,-1.438913,-1.219491,0.304422,-1.429404,2.387073,...,0,0,0,0,0,0,1,0,1,0
1466,0,2.15794,1.710461,1.648025,0.009405,0.131368,0.691013,-1.053114,-1.429404,2.325978,...,0,1,0,0,0,0,1,0,1,0
1467,0,2.15794,0.929746,0.995643,1.092874,-1.438913,0.889976,0.304422,-1.429404,2.261270,...,0,1,0,0,0,1,0,1,0,0
1468,0,2.15794,-0.250671,0.096576,1.092874,-0.748720,-0.682251,2.086069,1.247765,2.257634,...,0,1,0,0,0,1,0,0,0,1
1469,0,2.15794,-1.056019,-1.484085,1.092874,0.131368,1.288336,-2.044753,1.247765,2.331663,...,1,0,0,0,0,1,0,0,0,1

In [8]:
df_total = df_norm